.container{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: cornsilk;
	height: 100%;
	width: 100%;
}
.upper{
	height: 35%;
	background: #eee;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-end;
}
#header{
	width: 100%;
	height: auto;
	line-height: 100px;
	font-size: 18px;
	font-family: calibri;
	text-align: center;
	
}
.lower{
	height: 65%;
	background: #cee;
	display: flex;
	flex-flow: row nowrap;
	
	margin: 0;
	padding: 0;
}
#num{
	height: 80px;
	max-width: 100%;
	width: 100%;
	font-size: 30px;
	font-family: cambria;
	text-align: right;
	outline: 0px;
	border: 0px;
	font-weight: bold;
	padding-right: 10px;
	background: #fff;
	line-height: 80px;
	letter-spacing: 4px;
	overflow: auto;
}
.lowerul{
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.lowerul li{
	
	display: flex;
	flex-flow: row wrap;
	width: 25%;
	height: 20%;
	
	text-align: center;
	
}
li button{
	height: 100%;
	width: 100%;
	font-size: 2rem;
	font-family: calibri;
	font-weight: light;
}
button{
	border: 0px solid white;
}
button:focus{
	border: 0px solid white;
	outline-color: transparent;
}
.history{
	position: absolute;
	bottom:0px;
	left: 0px;
	height: 65%;
	max-height: 65%;
	width: 100%;
	background-color: #333;
	display: none;
	overflow: auto;
}
.history p{
	color: white;
	text-align: right;
	padding-right: 10px;
	font-size: 22px;
	font-family: cabibri;
	letter-spacing: 3px;
	font-weight: bold;
}
.btnHts{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
}